.form-style {
    .f-item {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        &+.f-item {
            margin-top: 15px;

            @include tbmb {
                margin-top: 10px;
            }
        }

        label {
            margin-bottom: 5px;
            display: block;

            @include tbmb {
                margin-bottom: 3px;
            }

            span {
                color: $colorError;
            }
        }
    }

    .with-errors {

        input:not([type=submit]):not([type=radio]):not([type=checkbox]),
        textarea {
            border-color: $colorError;
            color: $colorError;

            @include placeholder {
                color: rgba($colorError, 0.3);
            }
        }
    }

    .error-lbl {
        position: absolute;
        font-size: 11px;
        color: $colorError;
        margin-top: 2px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    textarea {
        width: 100%;
        height: 45px;
        outline: none;
        font-family: 'Poppins', sans-serif;
        padding: 0px 10px;
        border: none;
        background-color: $color11;
        border-radius: 10px;
        color: darken($color12, 30%);
        font-size: 12px;

        @include nb {
            border-radius: 8px;
        }

        @include tb {
            border-radius: 6px;
        }

        @include mb {
            height: 40px;
            border-radius: 4px;
        }

        @include placeholder {
            color: rgba($color12, 0.8);
        }

        &:focus {
            color: darken($color12, 30%);

            @include placeholder {
                color: rgba($color12, 0.3);
            }

            ;
        }

        &.error {
            border-color: $colorError;
            color: $colorError;

            @include placeholder {
                color: rgba($colorError, 0.2);
            }

            ;
        }
    }

    textarea {
        padding: 10px;
        resize: none;
        height: 120px;

        @include nbtbmb {
            height: 120px;
        }
    }

    input[type=number]::-webkit-inner-adjust-hue-button,
    input[type=number]::-webkit-outer-adjust-hue-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.styled-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;

    .icon {
        flex-shrink: 0;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        border: 1px solid $color3;
        display: flex;
        align-items: center;
        justify-content: center;
        @include animate;

        &+.checkbox-text {
            padding-left: 5px;
        }

        svg {
            @include animate;
            opacity: 0;
            display: block;
            width: 8px;
            height: 7px;
            fill: $color3;
        }
    }

    .checkbox-text {
        color: $color3;
        font-size: 11px;
        line-height: 13px;

        a {
            color: $color4;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    input[type="checkbox"] {
        display: none;

        &:checked+.icon svg {
            opacity: 1;
        }

        &.error {
            &+.icon {
                border-color: $colorError;

                &+.checkbox-text {
                    color: $colorError;

                    a {
                        color: $colorError;
                    }
                }
            }
        }
    }

    &:hover .icon svg {
        opacity: 0.35;
    }
}